body{
    background: linear-gradient(to right,#FFFFFF 50%,#88A66A 50%);
}

img.a{
    display: block;
    margin-left: 3%;
    margin-top: 1%;

}
img.a:hover{
    display: block;
    margin-left: 3%;
    margin-top: 1%;
    transform: scale(1.2);
    transition: transform 0.25s ease 0.5s;
}
@media (max-width: 1250.78px) {
    .a {
    visibility: hidden;
    }
    
}
#fechaHora{
    color: #000000;
    font-size:100%;
    flex-wrap: wrap;
    margin-top: -8%;
    margin-left: 40%;
    text-transform: uppercase;
    
    background-color:linear-gradient(to right,#88A66A 50%,#FFFFFF 50%);    
    font-family: 'Montserrat',  serif;
}
@media (max-width: 1250.78px) {
    #fechaHora {
    align-items: center;
    margin-left: 25%;
    }
    
} 

ul{
    margin-left: 11%;
    
}


@media (max-width: 1250.78px) {
    ul {
        margin: auto;
        justify-content: center;
    }

}
li.nav-item{
    margin-top: 1%;
}
a.nav-link {
    color: #000000;
    font-size: 125%;
    font-family: 'Montserrat',  serif;
}
a.nav-link:hover{
    background-color: #dc3545;
    color: #FFFFFF;
    
}
.btn-group{
    margin-top: 1%;
    background-color: none;
    color: #000000;
    font-size: 125%;
    font-family: 'Montserrat',  serif;
}
.btn-group > button{
    margin-top: 1%;
    background-color: none;
    color: #000000;
    font-size: 100%;
    font-family: 'Montserrat',  serif;
}
.btn-group > button:hover{
    margin-top: 1%;
    background-color: #dc3545;
    color: #FFFFFF;
    
    font-size: 100%;
    font-family: 'Montserrat',  serif;
}
.dropdown-menu{
    background-color: #dc3545;
    border: 1.5px solid #000000;
}
a.dropdown-item{
    background-color: #dc3545;
    color: #000000;
    font-size: 100%;
    font-family: 'Montserrat',  serif;
}
a.dropdown-item:hover{
    background-color: #dc3545;
    color: #FFFFFF;
    font-size: 100%;
    font-family: 'Montserrat',  serif;
}
hr.dropdown-divider{
    border: 1.5px solid #000000;
}
@media (max-width: 1250.78px) {
    a.nav-link{
        font-size: 100%;
    }
}
    
.HOME{
    color: #FFFFFF;
border-radius: 12.5%;
border: 1.5px solid #000000;
    
}
.HOME:hover{
    color: #FFFFFF;
border-radius: 12.5%;
border: 1.5px solid #dc3545;
    
}

h1{
    color: #000000;
    width: 40vw;
    font-size:300%;
    text-align: justify;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 3%;
    font-style: italic;
    font-weight: 900;
    flex-direction: column;
    font-family: 'Montserrat',  serif;

}
p{
    color: #000000;
    width: 40vw;
    flex: 1;
    text-align: justify;
    font-size:150%;
    margin-top:0%;
    margin-left: 3%;
    font-family: "Montserrat", serif;float: left;
}
@media (max-width: 1250.78px) {
    h1 p {
        margin: auto;
        margin-left: 3%;
        justify-content: center;
    }
h1 {
    font-size:150%;

}
p {
    font-size:100%;

}
}
@media (max-width: 360px) {
    h1 p {
        margin: auto;
        margin-left: 3%;
        justify-content: center;
    }
h1 {
    font-size:125%;

}
}


.img {
    display: grid;
    margin-top: -10%;

    width: 40vw;
    height: auto;
    justify-content: center; /* Centra las imágenes dentro del contenedor */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Crea columnas flexibles */
    gap: 10px; /* Espacio entre los elementos */
    margin-left: 55%; /* Centra el contenedor en la pantalla */

    
    animation-name: change-opacity;
    animation-duration: 10s;
    animation-timing-function: infinite;
    animation-iteration-count: infinite;
}
@keyframes change-opacity{
    0%{
opacity: 100%;
}
50% {
    opacity: 25%;

}
100% {
    opacity: 100%;
}
}


button.explora{
    cursor: pointer;
    background-color:#FFFFFF;
    transition: background-color 0.25s ease 0.5s;
    width: 25%;
    height: auto;
    color: #000000;

    font-size: 125%;
    font-family: 'Montserrat',  serif;
    border: 1.5px solid #000000;
    border-radius: 10px;
}
button.explora:hover{
    cursor: pointer;
    background:#dc3545;
    width: 25%;
    height: auto;
    color: #FFFFFF;
    
    font-size: 125%;
    font-family: 'Montserrat',  serif;
    border: 1.5px solid #dc3545;
    border-radius: 10px;
    
}
button.ochuita{
    cursor: pointer;
    background-color:#88A66A;
    transition: background-color 0.25s ease 0.5s;
    width: 25%;
    height: auto;
    color: #000000;
    
    font-size: 125%;
    font-family: 'Montserrat',  serif;
    border: 1.5px solid #000000;
    border-radius: 10px;
}
button.ochuita:hover{
    cursor: pointer;
    background:#dc3545 ;
    width: 25%;
    height: auto;
    color: #FFFFFF;
    font-size: 125%;
    font-family: 'Montserrat',  serif;
    border: 1.5px solid #dc3545;
    border-radius: 10px;
    
    
}
.botones1{
    cursor: pointer;
    margin-left: 32%;
    margin-top: -10%;
}
@media (max-width: 1250.78px) {
    .botones1 {
        cursor: pointer;
        flex-direction: column;  /* Cambiar a fila en pantallas grandes */
    margin-top: -10%;
    font-size: 50%;
}
.ochuita .explora{
    width: auto;
    
    
}
}
@media (max-width: 600px) {
    .botones1 {
        cursor: pointer;
        display: flex;
        flex-direction: column; 
        width: 55%;
    margin-top: -15%;
    font-size: 50%;
    margin-left: 67.5%;
}

}

.container1{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-between;
    
}
    div.bd-example{
        width: 48%;
        height: 45%;
        padding: 0px;
        box-sizing: border-box;

    }
.mapad{
    margin-top: 3.5%;
    width: 48%;
    height: auto;
        box-sizing: border-box; 
}
.mapad iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

    @media (max-width: 1250.78px) {
        .container1{
            width: 95%;
            height: auto;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 2vw;
            justify-content: space-between;
            
        }
            div.bd-example{
                width: 48%;
                height: 45%;
                padding: 0px;
                box-sizing: border-box;
        
            }
        .mapad{
            margin-top: 3.5%;
            width: 48%;
            height: auto;
                box-sizing: border-box; 
        }
        .mapad iframe{
            width: 100%;
            height: 100%;
            border: 0;
        }
        
    }

    #map{
        height: 350px;
        width: 700px;
        margin: auto;
        margin-top: -10%;
        margin-bottom: 5%;
    }


    footer {
        background: #dc3545;
        width: 100%;
        display: flex;

justify-content: space-between;
        align-items: center;
    }
    
    footer a img {
        max-width: 100%;  /* Asegura que las imágenes no se distorsionen */
        height: auto;     /* Mantiene la proporción original de las imágenes */
    }

    .card.mb-3{
        margin-left: 5%;
        margin-top: 2.5%;
        width: 30vw;
        height: auto;
    }
    h5{
        font-size: 1em;
        color: #000000;
        font-family: 'Montserrat',  serif;  
    }
    .card-text{
        width: 13vw;
        font-size: 0.8em;
        color: #000000;
        font-family: 'Montserrat',  serif;  
    }
    .text-body-secondary{
        font-size: 1em;
    }
    .team{
        color: #dc3545;
        text-decoration: none;
    }
    .team:hover{
        color: #dc3545;
        text-decoration: none;
        font-weight: bold;
    }
    .col-md-4 {
        margin-top: 18%;
        margin-left: 5%;
        width: 20%;
    }
    .img-fluid.rounded-start{
        width: 100%;
        height: auto;
    }
    
    form {
        display: flex;
        margin-left: 7%;
        margin-top: 1%;
        flex-direction: column;
        align-items: center;
        width: 50vw;
    }
    
    .nombreycorreo {
        display: flex;
        gap: 1rem; /* Espacio entre los campos */
        width: 100%;
    }
    
    textarea {
        width: 82.5%;
        margin-left: -17.5%;
        align-content: baseline;
        font-family: 'Montserrat',  serif;  
        outline: none;
        margin-top: 1%;
        border: 1.5px solid #000000;
        border-radius: 0.5rem;
        resize: vertical; /* Permite redimensionar verticalmente el textarea */
    }
    textarea::placeholder{
        color: #dc3545;
    }
    .nombreycorreo input {
        background: none;
        font-family: 'Montserrat',  serif;  
        outline: none;
        width: 20vw;
        border: none;
        border-bottom: 1.5px solid #000000 ;
    }
    ::placeholder{
        color: #000000;
    }

    button.btn-outline-light{
  
        background-color: #000000;
        color: #FFFFFF;
        font-family: 'Montserrat',  serif;  
        margin-top: 2%;
        margin-left: -20%;
        width: 50%;
        height: auto;
        font-size: 1.2em;
        text-align: center;
        align-self: center;
        border: none;

    }
   
    
    @media (max-width: 768px) {
        footer {
            flex-direction: column; /* Hace que los elementos se apilen en pantallas pequeñas */
            height: auto;
        }
        .card.mb-3{
            margin-left: -5%;
            width: 60vw;
            
        }
         .col-md-4{
            margin-top: 5%;
        margin-left: 40%;
             height: 20%;
        }
    
        .card-title{
            text-align: center;
        }
        .card-text{
            width: 50vw;
            margin-left: 5%;
            font-size: 0.8em;
            color: #000000;
            font-family: 'Montserrat',  serif; 
            text-align: center; 
        }
        .nombreycorreo {
            flex-direction: column; /* Los inputs estarán en una columna */
        }
        img.logofooter  {
            width: 30%; /* Reducción del tamaño de las imágenes en pantallas más pequeñas */
            margin: auto;
        }
        .nombreycorreo input {
            margin-left: -10%;
            width: 50vw;
            
        }
        textarea{
            margin-top: 5%;
        }
    }



    
    /* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
}
.leaflet-marker-icon{
	position: relative;
	left: 0;
	top: 0;
	z-index: 650;
	}
	
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
	background: transparent;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg {
	max-width: none !important;
	max-height: none !important;
	}
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important;
	width: auto;
	padding: 0;
	}

.leaflet-container img.leaflet-tile {
	/* See: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
	mix-blend-mode: plus-lighter;
}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	/* Fallback for FF which doesn't support pinch-zoom */
	touch-action: none;
	touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
.leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	stroke-width: 3px;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
svg.leaflet-zoom-animated {
	will-change: transform;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:         grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:         grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline-offset: 1px;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover,
.leaflet-bar a:focus {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
  background-color: transparent !important;
  background-size: contain;
  color: transparent; /* hide the "+" and "-" characters */
  box-shadow: none;
  border: none;
	}
	



.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	font-size: 13px;
	font-size: 1.08333em;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path { /* used only in path-guessing heuristic, see L.Icon.Default */
	background-image: url(images/marker-icon.png);
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	line-height: 1.4;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover,
.leaflet-control-attribution a:focus {
	text-decoration: underline;
	}
.leaflet-attribution-flag {
	display: inline !important;
	vertical-align: baseline !important;
	width: 1em;
	height: 0.6669em;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	background: rgba(255, 255, 255, 0.8);
	text-shadow: 1px 1px #fff;
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 24px 13px 20px;
	line-height: 1.3;
	font-size: 13px;
	font-size: 1.08333em;
	min-height: 1px;
	}
.leaflet-popup-content p {
	margin: 17px 0;
	margin: 1.3em 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-top: -1px;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;
	pointer-events: auto;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	text-align: center;
	width: 24px;
	height: 24px;
	font: 16px/24px Tahoma, Verdana, sans-serif;
	color: #757575;
	text-decoration: none;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
	color: #585858;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-interactive {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}

/* Printing */

@media print {
	/* Prevent printers from removing background-images of controls. */
	.leaflet-control {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
		}
	}